@font-face {
    font-family: "JetBrains Mono Regular";
    src: url("./fonts/JetBrainsMono-Regular.ttf");
}

* {
    font-family: "JetBrains Mono Regular";
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0px 64px;
}

a {
    text-decoration: none;
    color: black;
}

.pushed-right {
    margin-left: auto;
}

.icon {
    font-size: 18px;
    color: #014dc1;
}

.blackbg-btn,
.whitebg-btn, 
.rent-buy-btn button {
    border: none;
    width: fit-content;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bolder;
}

.blackbg-btn {
    color: white;
    background-color: black;
}

.whitebg-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* Head Section */

.head-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bolder;
}

.logo {
    display: flex;
}

.logo img {
    height: 80px;
    width: 80px;
}

.nav ul {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.head-content {
    background: url("./images/hero-image-edited.jpg");
    background-size: cover;
    background-position: 16%;
    filter: contrast(1.05) saturate(115%) brightness(1.05);
    border-radius: 48px;
}

.hero-img-wrapper {
    display: flex;
    flex-direction: column;
    padding: 128px 0px 0px 64px;
}

.hero-img-wrapper h1 {
    text-transform: uppercase;
}

.stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 50px;
    text-align: center;
    line-height: 50%;
    gap: 30px
}

.rent-buy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 48px;
}

.rent-buy-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 8px 32px 0px 32px;
    background: #ebeaeb;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.3));
    gap: 24px;
}

.rent-buy-tab {
    border: none;
    border-bottom: 4px solid transparent;
    font-size: 16px;
    font-weight: bolder;
    background: transparent;
}

.rent-buy-tab:not(.active) {
    color: grey;
}

.rent-buy-tab.active {
    border-bottom: 4px solid black;
}

.rent-buy-options { 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    padding: 0px 32px 16px 32px;
    background-color: #fffafa;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.3));
    border-radius: 24px;
}

.rent-buy-btn {
    background-color: #c4c5c5;
    padding-right: 16px;
    width: fit-content;
} 

.rent-buy-btn button {
    background-color: #c4c5c5;
    padding-left: 16px;
    padding-right: 32px;
}

/* Popular Section*/
.popular-container {
    margin-bottom: 128px;
}

.popular-headings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0px;
    margin-bottom: 32px;
    font-size: 20px;
}

.popular-headings-left {
    display: flex;
    flex-direction: column;
}

.popular-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.tile {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7));
    /* min-width: 352px; */
    /* width: 352px; */
    min-width: 352px;
    width: 32%;
}

.tile-content {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    background-color: white;
}

.tile-img {
    height: 216px;
    object-fit: fill;
}

.tile-info {
    padding: 4px 24px 16px 24px;
}


.tile-features {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    letter-spacing: -1px;
}

.icon-wrapper i {
    margin: 8px;
}

.tile-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
    margin-top: 24px;
}

/* Service Section*/
.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 128px;
}

.service-images {
    flex: 1.7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 8px;
    min-width: 456px;
}

.service-images img {
    flex: 1 1 0px;
    position: relative;
    min-width: 50%;
    height: 800px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7));
    border-radius: 32px;
    object-fit: cover;
}

.service-images img:nth-child(2) {
    right: 32px;
    top: 16px;
}

.service-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;  
    min-width: 352px;
}

.service-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    gap: 8px;
    margin-bottom: 32px;
}

.service-list li {
    flex: 1;
    list-style-position: inside;
    font-size: 0.85rem;
}

.service-list span {
    position: relative;
    left: -16px;
    top: -4px;
}

.service-list li::marker {
    font-size: 24px;
    color: #014dc1;
}


/*Testimonial Section*/
.testimonial-container {
    margin-left: -64px;
    margin-right: -64px;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #16171e;
    color: white;
}

.testimonial-headings {
    display: flex;
    justify-content: space-between;
}

.testimonial-container hr {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid #817e7c;
}

.testimonial-quote-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 64px;
}

.testimonial-quote-author {
    line-height: 8px;
}

.testimonial-quote-author h3     {
    color: #817e7c;
}

.testimonial-quote {
    flex: 1;
    min-width: 352px;
}

.testimonial-quote p {
    padding: 0px 32px;
    margin: 0;
}

.fa-quote-right {
    float: right;
}

.testimonial-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.testimonial-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #817e7c;
    font-weight: bolder;
    min-width: 96px;
}